<h1>Zašto da odaberete MSRent?</h1>
<div class="glavni">
   <img src="https://beograd-renta-car.com/images/rent-a-car-beograd-o-nama-01.jpg" class="slika">
   <div>
     <h4>Nudimo fantastičan odnos cene i kvaliteta usluga rentiranja.</h4>
     <h4>Sva naša rent a car vozila su kompletno ispravna i servisirana po preporuci proizvođača,
     stoga ne morate brinuti o ispravnosti i pouzdanosti vozila.</h4>
     <h4>Sva rent a car vozila su opremljena GPS uređem, kako bi vaše putovanje i vožnja gradskim ulicama bila što kraća i komfornija.</h4>
     <h4>Svako vozilo za rentiranje je prošlo redovan servis i održavano i potpuno spremano za letnju i zimsku vožnju.</h4>
   </div>
</div>
<div class="glavni">
   <div>
     <h4>MSRent vam nudi da preuzmete i vratite vozilo gde god vama odgovara.</h4>
     <h4>Ukoliko želite vozilo da iznajmite na duži vremenski period, recimo više meseci MSRent vam nudi posebne cene i pogodnosti, pozovite nas, nećete se pokajati.</h4>
   </div>
   <img src="https://beograd-renta-car.com/images/rent-a-car-beograd-o-nama-03.jpg" class="slika">
</div>
<div class="glavni">
   <div class="mini">
      <div class="diHover">
          <div class="icon">
            <fa-icon [icon]="iconPiggy"></fa-icon> 
          </div>
      </div>
   <h2>Najpovoljnije cene rent a car vozila</h2>
   </div>
   <div class="mini">
      <div class="diHover">
          <div class="icon">
            <fa-icon [icon]="iconLike"></fa-icon> 
          </div>
      </div>
    <h2>Veliki izbor rent a car vozila</h2>
   </div>
   <div class="mini">
      <div class="diHover">
         <div class="icon">
             <fa-icon [icon]="iconWallet"></fa-icon> 
         </div>
      </div>
     <h2>Rezervacija rent a car vozila bez depozita</h2>
   </div>
   <div class="mini">
      <div class="diHover">
         <div class="icon">
             <fa-icon [icon]="iconShield"></fa-icon> 
         </div>
      </div>
    <h2>Nova, osigurana rent a car vozila</h2>
   </div>                                                
</div>