<div class="glavni" *ngIf="automobil">
<mat-card class="example-card">
<mat-card-content>
<img src={{automobil.slika}} class="slika"/>
<h1>{{automobil.marka}} {{automobil.model}}</h1>

<div class="caricon">
<fa-icon [icon] = "iconCar"></fa-icon>
<p>{{automobil.marka}}</p>
</div>

<div class="caricon">
<fa-icon [icon] = "iconCalendar"></fa-icon>
<p>Godina: {{automobil.godina}}</p>
<fa-icon [icon] = "iconGauge" class="gauge"></fa-icon>
<p>KM: {{automobil.kilometar}}</p>
<p class="likeIcon">LIKE: </p>
<p>{{automobil.like}}</p>
</div>
</mat-card-content>
<mat-card-footer>
<div class="foot">
<h3> {{automobil.cena}} EUR</h3>
<button mat-button class = "dugme" (click)="clicked()">OPIS</button> 
</div>
</mat-card-footer>
</mat-card>
</div>                                                  
