.example-card {
   max-width: 400px;
   max-height: 400px;
}
div.caricon{
   display: flex;
   flex-direction: row; 
}
p{                                  
   margin-left: 10px;
}
.gauge
{
   margin-left: 45px;
}
.likeIcon
{
   margin-left: 20px;
}

.foot
{
   background-color:#3f51b5;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
h3{
   color: white;
   margin-left: 15px;
   margin-top: 15px;
}
.dugme{
   color: white;   
}
.slika
{
   width: 350px;
   height: 230px;
}
