.automobilDetaljnoKontrole {
     display: flex;
     justify-content: flex-end;
     padding: 10px;
 }
 
 .automobilDetaljnoDashboard {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;   
 }
 
 .promenaRadnje {
     width: 250px;
     margin: 10px;
 }
 
 .promena {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     margin-bottom: 8px;
 }
 
 .obrisiDugme {
     width: 100%;
 }
 .slika{
    height: 150px;
 }