<mat-toolbar  color="primary">
   <mat-toolbar-row>
     <h1>MSRent</h1>
     <button mat-button color="white" routerLink="PocetnaDetalji" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Početna</button>
     <button mat-button color="white" routerLink="Radnje" routerLinkActive="active">Radnje</button>
     <button mat-button color="white" routerLink="Profil" routerLinkActive="active" *ngIf="logedin">Profil</button>
     <button mat-button color="white" routerLink="Login" routerLinkActive="active" *ngIf="!logedin">Login</button>
     <button mat-button color="white" *ngIf="logedin" (click) = "logout()">Logout</button>
   </mat-toolbar-row>
</mat-toolbar>
<img *ngIf="!logedin" src = "https://wallpaper.dog/large/10986786.jpg">
<router-outlet></router-outlet>